.container {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.text {
  font-size: 0.75rem;
  color: var(--black-50);
  font-weight: 500;
}

.number {
  font-size: 1.25;
  color: var(--black-75);
  font-weight: 500;
}

.selected {
  color: var(--primary-300);
}

.bcg-selected {
  background-color: var(--primary-50);
}
