@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  font-size: 26px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;

  --backGround: #dfdbe5;
  --base: #f3f3fd;
  --black-100: #1e1e1e;
  --borderRadius: 1rem;
  --innerBorderRadius: 0.625rem;
  --bigGap: 1.5rem;
  --mediumGap: 1.25rem;
  --smallGap: 0.625rem;

  --primary-50: #f3ecfe;
  --primary-100: #e6d7fb;
  --primary-200: #cdaff7;
  --primary-300: #b588f4;
  --primary-400: #9c60f0;
  --primary-500: #8338ec;
  --primary-600: #622ab1;
  --primary-700: #421c76;
  --primary-800: #210e3b;
  --primary-900: #0d0618;

  /* blue */
  --blue-50: #ecf3ff;
  --blue-100: #d8e7ff;
  --blue-200: #b0cfff;
  --blue-300: #89b6ff;
  --blue-400: #619eff;
  --blue-500: #3a86ff;
  --blue-600: #2c65bf;
  --blue-700: #1d4380;
  --blue-800: #0f2240;
  --blue-900: #060d1a;

  /* red */
  --red-50: #ffe6f1;
  --red-100: #ffcce2;
  --red-200: #ff99c5;
  --red-300: #ff66a8;
  --red-400: #ff338b;
  --red-500: #ff006e;
  --red-600: #bf0053;
  --red-700: #800037;
  --red-800: #40001c;
  --red-900: #1a000b;

  /* orange */
  --orange-50: #ffefe7;
  --orange-100: #feddcd;
  --orange-200: #fdbb9c;
  --orange-300: #fd9a6a;
  --orange-400: #fc7839;
  --orange-500: #fb5607;
  --orange-600: #bc4105;
  --orange-700: #7e2b04;
  --orange-800: #3f1602;
  --orange-900: #190901;

  /* yellow */
  --yellow-50: #fff9e7;
  --yellow-100: #fff2ce;
  --yellow-200: #ffe59d;
  --yellow-300: #ffd86d;
  --yellow-400: #ffcb3c;
  --yellow-500: #ffbe0b;
  --yellow-600: #bf8f08;
  --yellow-700: #805f06;
  --yellow-800: #403003;
  --yellow-900: #1a1301;

  /* gray */
  --gray-50: #f0f0f0;
  --gray-100: #e0e0e0;
  --gray-200: #c2c2c2;
  --gray-300: #a3a3a3;
  --gray-400: #858585;
  --gray-500: #666666;
  --gray-600: #4d4d4d;
  --gray-700: #333333;
  --gray-800: #1a1a1a;
  --gray-900: #0a0a0a;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
