.container {
  width: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: var(--base);
  transform: translate(-0.5rem, -50%);
  padding-right: 0.35rem;
}

.text {
  font-size: 0.625rem;
  color: var(--black-50);
  font-weight: 500;
}
